#!/bin/bash

# Logging
LOG_FILE="/var/log/hardening.log"

# Files
SSH_CONFIG_FILE="/etc/ssh/sshd_config"
SYSCTL_CONF_FILE="/etc/sysctl.conf"
FIREWALL_POLICY_FILE="/etc/hardening/firewall.rules"
COMMON_PASSWORD_FILE="/etc/pam.d/common-password"
COMMON_AUTH_FILE="/etc/pam.d/common-auth"
LOGIN_DEFS_FILE="/etc/login.defs"
FAILLOCK_CONF_FILE="/etc/security/faillock.conf"

# SSH
SSH_PORT="2222"
ALLOW_HTTP="true"
ALLOW_HTTPS="true"
PASSWORD_AUTHENTICATION="no"
PUBKEY_AUTHENTICATION="yes"
PERMIT_ROOT_LOGIN="no"

# Identity
PASS_MIN_LEN="12"
PASS_MAX_DAYS="90"
FAIL_LOCK_ATTEMPTS="5"

# System
APT_LOCK_TIMEOUT="120"
APT_GET_BIN="/usr/bin/apt-get"
PACKAGES_REMOVE="telnet ftp netcat-traditional"
PACKAGES_INSTALL="auditd fail2ban"

# Cleanup
ADMIN_GROUPS="sudo wheel"
MIN_UID_TO_CLEAN="1001"
PRESERVE_USERS="nobody"